[Unit]
Description=Minidash
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/npm run dev
WorkingDirectory=/home/brianduff/Development/minidash
User=brianduff

[Install]
WantedBy=multi-user.target

