<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.dubh.minidash</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/npm</string>
      <string>run</string>
      <string>dev</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/brianduff/minidash-deploy/minidash</string>
    <key>KeepAlive</key>
    <true />
  </dict>
</plist>
