body {
  background-color: black;
  color: mintcream;
  font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
}

.Tile {
  border-style: solid;
  border-color: rgb(180, 180, 180);

  border-width: 1px;
  border-radius: 15px;
  padding: 15px;
}

.datetime {
  text-align: center;
  padding-bottom: 15px;
}

.time {
  font-size: 3em;
  font-weight: 200;
}

.date {
  line-height: 23px; 
}

.gridContainer {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
}

.numberBox {
  text-align: center;
}

.numberBox .number {
  font-size: 2.5em;
  font-weight: 200;
}

.numberBox .number.high {
  color: red;
}

.numberBox .number.medium {
  color: yellow;
}

.numberBox .description {
  color: rgb(150, 150, 150);
}

.bottomRight {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: .75em;
  color: #606060;
}

.bottomRight a:link {
  color: #606060;
}
.bottomRight a:visited {
  color: #606060;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
